.nav-bar {
    /* border: 2px solid red; */
    display: flex;
    border-bottom: 2px solid gray;
    

}
.nav-bar>ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly flex-end baseline;
    gap: 10px;
    padding-left: 900px;
    padding-top: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    z-index: auto;
    
    
    }

a :hover {
    text-decoration: underline;
}


.cont {
    display: flex;
    border: 1px solid green;
    width: 600px;
    padding: 30px;
    position: relative;

    
    justify-content: space-around

    

}
